.main {
  &-left{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url('/assets/images/Globant.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }

  &-right{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
